body {
    background-color: black;
    color: white;
    font-family: courier, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 1400px;
    width: 100%;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    size: 40px;
    opacity: 60%;
  }

  h2 {
    text-align: center;
  }


  .text-blocks{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
  }

  .text-block p {
    border: 1px solid white;
    padding: 10px;
  }

  .left-text-block {
    flex-basis: 25%;
    text-align: center;
  }

  .right-text-block {
    flex-basis: 25%;
    text-align: center;
  }

  .hidden-text {
    display: block;
    text-align: center;
    transition: 0.3s;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    color: white;
    border-color: #ffffff;
    border-width: 4px;
    white-space: pre-line;
    line-height: 1.5;
  }


  .center-box {
    top: 50%;
    left: 50%;
    padding: 10px;
    max-width: 600px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    flex-basis: 75%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .center-title {
    flex-basis: 40%;
    text-align: center;
    margin-bottom: 80px;
  }

  .selected-topic span {
    position: absolute;
    top: -100px; 
    /* chnage above line for vertical level */
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    font-size: 20px;
  }

  .selected-topic #selected-topic {
    font-size: 30px;
  }

  .text-block {
    flex-basis: 30%;
    text-align: justify;
  }

  .button {
    margin-top: 20px;
    text-align: center;
  }

  .button button {
    background-color: #000000;
    border-width: 2px;
    border-color: #ffffff;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
  }

  .button button:hover {
    background-color: #2d2d2d;
  }

  .recycle-icon {
    font-size: 24px;
    color: white;
    margin-right: 5px;
  }

  .warning {
    text-align: center;
    color: rgb(255, 0, 0);
  }

  .input-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-bottom: 10px; */
  }

  .input-container input {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: black;
    color: white;
    border-color: white;
    border-width: 5px;
  }

  .options-list {
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    border: 1px solid #ffffff;
    width: 100%;
    max-width: 30%;
    max-height: 300px;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .options-list ul {
    list-style-type: square;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .options-list li {
    padding: 12px;
    text-align: center;
    transition: 0.3s;
  }

  .options-list li:hover {
    background-color: #2d2d2d;
    margin-right: 13px;
  }

  .down-arrow {
    font-size: 60px;
  }
  